@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

.App {
  padding: 0;
  margin: 0;
  background-color: #393e41;
  width: 100vw;
  min-height: 100vh;
  color: white;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
}

header {
  position: sticky;
  background-image: url("https://www.backdropstyle.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/m/z/mz87.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  font-size: 50px;
  height: 10vh;
  width: 100%;
  top: 0;
}

.text1 {
  font-family: "Aclonica", sans-serif;
  font-size: 40px;
  margin: 15px;
}

.float {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  width: 25%;
}

.display {
  font-family: "Aclonica", sans-serif;
  font-size: 25px;
}

.displayRecipes {
  margin: 10px;
  font-size: large;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.search {
  position: fixed;
  display: inline-block;
  top: 100px;
  left: 15px;
  padding: 20px 0 0 0;
  background-color: #ac92a6;
  border-radius: 5px;
  width: 300px;
  height: 80vh;
}

.addRecipe {
  position: fixed;
  top: 300px;
  left: 15px;
  background-color: #ac92a6;
  width: 300px;
  height: 300px;
}

.recipeBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 350px;
  background-color: #587b7f;
  border-radius: 10%;
  margin: 1px;
}

.recipeImage {
  height: 200px;
  width: auto;
  border-radius: 25%;
}

.list {
  text-align: left;
}

.text2 {
  padding: 0px 20px 5px 20px;
}

button:hover {
  background-color: #805b38;
}

.button {
  margin: 10px;
  background-color: #553c25;
  border-radius: 35%;
  height: 30px;
  width: 60px;
  color: white;
  border: solid 2px #1e2019;
}

.editBox {
  display: none;
}

.editDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 275px;
  height: 20px;
  margin: 5px;
  padding: 2px;
  color: white;
  border: 2px solid #393e41;
  background-color: #393e41;
  border-radius: 4px;
}

textarea {
  width: 275px;
  height: 100px;
  margin: 5px;
  color: white;
  background-color: #393e41;
  border: 2px solid #393e41;
  border-radius: 4px;
}
