.App {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url("https://www.backdropstyle.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/m/z/mz87.jpg");
  background-repeat: repeat-y;
  background-size: 100vw;
  position: absolute;
  width: 100%;
  top: 0;
  color: white;
}
